.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1170px;
  }
}

.modal-button {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  padding: 10px 32px;
  cursor: pointer;
  border: none;
  outline: none;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus,
.subscribe-btn:hover,
.subscribe-btn:focus {
  background: #188ce8;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 1023px) {
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    margin-bottom: 50px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2094f3;
}

@media screen and (max-width: 1023px) {
  .logo {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo-color-light-theme {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

@media screen and (max-width: 1023px) {
  .logo-color-light-theme {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1024px) {
  .logo-color-light-theme {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo-color-dark-theme {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .logo-color-dark-theme {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1024px) {
  .logo-color-dark-theme {
    font-size: 26px;
    line-height: 1.192;
  }
}

.backdrop {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}

.backdrop.is-hidden .modal {
  transform: rotate(0deg) scale(0);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  max-width: 450px;
  height: 609px;
  padding: 40px;
  transform: rotate(360deg) scale(1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  background-color: #fff;
}

.backdrop .modal-textarea:focus, .modal-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-input:focus + .modal-form-icon {
  fill: #2094f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.policity-custom-checkbox {
  position: absolute;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.policity-custom-checkbox + .user-policy {
  display: inline-flex;
  align-items: center;
}

.policity-custom-checkbox + .user-policy::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 3px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E%0A");
}

.policity-custom-checkbox:checked + .user-policy::before {
  border-color: #2094f3;
  background-color: #2094f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}

.policity-custom-checkbox:focus + .user-policy::before {
  border-color: #2094f3;
  background-color: #2094f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%232196F3'/%3E%3C/svg%3E");
}

.policity-custom-checkbox:focus:checked + .user-policy::before {
  border-color: #2094f3;
  background-color: #2094f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.user-policy {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #757575;
}

.user-policy-link {
  color: #2094f3;
}

.policity-text {
  margin-right: 3px;
}

.current-line {
  display: inline-block;
}

.current-line::after {
  content: '';
  position: absolute;
  display: block;
  height: 4px;
  left: 0;
  bottom: -5px;
  width: 100%;
  border-radius: 2px;
  background-color: #2094f3;
}

@media screen and (min-width: 768px) {
  .current-line::after {
    bottom: -35px;
  }
}

.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button:hover .modal-svg {
  fill: #2094f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .header {
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    transform: scale(0);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .menu-container {
    justify-content: space-around;
  }
}

.is-open {
  transform: scale(1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn {
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn .icon-cross {
  display: none;
}

.mobile-menu-btn.is-open .icon-cross {
  display: block;
}

.mobile-menu-btn.is-open .icon-menu {
  display: none;
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  cursor: pointer;
  fill: #2094f3;
}

.navigation-list {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    margin-bottom: 60px;
  }
}

.navigation-list-item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
  }
}

.navigation-list-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation-list-link {
    font-size: 18px;
    line-height: 1.666;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.address {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .address {
    text-align: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .address-list-header {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .address-list-link-header:not(:last-child) {
    margin-right: 30px;
  }
}

.address-link {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .address-link {
    font-size: 18px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 1.142;
  }
}

@media screen and (min-width: 1024px) {
  .address-link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.address-svg {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover .address-svg,
.address-link:focus .address-svg {
  fill: #2094f3;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.address:hover,
.address:focus,
.address-link:hover,
.address-link:focus {
  color: #2094f3;
}

@media screen and (max-width: 767px) {
  .address-list-link-header:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo-img {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .logo-img {
    margin-right: 93px;
  }
}

.hero {
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
  background-color: #c4c4c4;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 600px;
    max-width: 1600px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
    background-repeat: no-repeat;
  }
}

.hero-section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1024px) {
  .hero-section {
    padding-top: 200px;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .hero-title {
    font-size: 44px;
    line-height: 60px;
  }
}

.qualities-list-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .qualities-list-heading {
    text-align: center;
  }
}

.qualities-list-heading::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 70px;
}

.qualities-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.qualities-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .qualities-items:not(:last-child) {
    margin-bottom: 30px;
  }
}

.qualities-list {
  display: flex;
}

@media screen and (max-width: 1023px) {
  .qualities-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .qualities-items:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .qualities-items:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .qualities-items {
    max-width: 354px;
  }
}

@media screen and (min-width: 1024px) {
  .qualities-items {
    max-width: 270px;
  }
  .qualities-items:not(:last-child) {
    margin-right: 30px;
  }
}

.attention::before {
  background-image: url(../images/qualities/satellite.svg);
}

.punctuality::before {
  background-image: url(../images/qualities/clock.svg);
}

.planning::before {
  background-image: url(../images/qualities/diagram.svg);
}

.technologies::before {
  background-image: url(../images/qualities/astronaut.svg);
}

@media screen and (max-width: 1023px) {
  .works {
    display: none;
  }
}

.works-section {
  padding-bottom: 95px;
  text-align: center;
}

.works-section-list {
  display: flex;
  justify-content: space-between;
}

.works-section-list-wrapper {
  position: relative;
}

.develops-overley {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

.develops-card-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.works-list {
  display: flex;
  justify-content: space-between;
}

.works-list-wrapper {
  position: relative;
}

.team {
  background: #f5f4fa;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .team-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .team-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-workplace {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-list-block {
  padding: 30px 32px;
  background-color: #fff;
}

.team-list-names {
  margin-bottom: 10px;
}

.social-link {
  display: flex;
  justify-content: space-between;
}

.social-link-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 16px;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-link:hover,
.social-link-link:focus {
  background-color: #2094f3;
}

.social-link-link:hover .social-link-svg,
.social-link-link:focus .social-link-svg {
  fill: #fff;
}

.social-link-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .team-img {
    max-width: 354px;
  }
}

@media screen and (min-width: 1024px) {
  .team-img {
    max-width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
  }
}

.footer {
  background: #2f303a;
}

.footer-section {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section .address {
  width: 230px;
}

.address {
  display: block;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-list {
  margin-top: 20px;
  margin-right: 70px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.loin-title,
.subscribe-title {
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #fff;
}

.join-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.join-list-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list-links:hover {
  background-color: #2094f3;
}

.social-join-svg {
  fill: #fff;
}

.subscribe {
  width: 100%;
  margin-left: 80px;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
}

.subscribe-mail {
  padding: 15px;
  display: inline-block;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.subscribe-mail:focus {
  outline: none;
  border: 1px solid #2094f3;
  border-radius: 2px;
}

.subscribe-btn {
  position: relative;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  padding: 10px 62px 10px 32px;
  cursor: pointer;
  border: none;
  outline: none;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-svg {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translateY(50%);
  margin-right: 28px;
  display: block;
}
/*# sourceMappingURL=main.css.map */