body {
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1170px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2094f3;
}

@media screen and (max-width: 1023px) {
  .logo {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo-color-light-theme {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

@media screen and (max-width: 1023px) {
  .logo-color-light-theme {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1024px) {
  .logo-color-light-theme {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo-color-dark-theme {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .logo-color-dark-theme {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1024px) {
  .logo-color-dark-theme {
    font-size: 26px;
    line-height: 1.192;
  }
}

.current-line {
  display: inline-block;
}

.current-line::after {
  content: '';
  position: absolute;
  display: block;
  height: 4px;
  left: 0;
  bottom: -5px;
  width: 100%;
  border-radius: 2px;
  background-color: #2094f3;
}

@media screen and (min-width: 768px) {
  .current-line::after {
    bottom: -36px;
  }
}

.modal-button {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  padding: 10px 32px;
  cursor: pointer;
  border: none;
  outline: none;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus,
.subscribe-btn:hover,
.subscribe-btn:focus {
  background: #188ce8;
  color: #fff;
}

.header {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .header {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    transform: scale(0);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
    outline: 1px solid #ececec;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .menu-container {
    justify-content: space-around;
  }
}

.is-open {
  transform: scale(1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn {
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn .icon-cross {
  display: none;
}

.mobile-menu-btn.is-open .icon-cross {
  display: block;
}

.mobile-menu-btn.is-open .icon-menu {
  display: none;
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  cursor: pointer;
  fill: #2094f3;
}

.navigation-list {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    margin-bottom: 60px;
  }
}

.navigation-list-item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
  }
}

.navigation-list-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation-list-link {
    font-size: 18px;
    line-height: 1.666;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.address {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .address {
    text-align: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .address-list-header {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .address-list-link-header:not(:last-child) {
    margin-right: 30px;
  }
}

.address-link {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .address-link {
    font-size: 18px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 1.142;
  }
}

@media screen and (min-width: 1024px) {
  .address-link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.address-svg {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover .address-svg,
.address-link:focus .address-svg {
  fill: #2094f3;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.address:hover,
.address:focus,
.address-link:hover,
.address-link:focus {
  color: #2094f3;
}

@media screen and (max-width: 767px) {
  .address-list-link-header:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo-img {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .logo-img {
    margin-right: 93px;
  }
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 40px;
}

.portfolio-nav-item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio-overley-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.portfolio-card-subtitle {
  position: relative;
  background-color: #fff;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card:hover, .portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-overley {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav-item:hover .portfolio-overley {
  transform: translateY(0);
}

.portfolio-overley-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
}

.porfolio-nav-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.porfolio-nav-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-nav-img {
  max-width: 450px;
  width: 100%;
}

.portfolio-secondary-navigation {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .portfolio-secondary-navigation {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-nav-item:nth-last-child(2n+1) {
    margin-right: 20px;
  }
  .portfolio-nav-item:last-child {
    margin-right: -20px;
  }
  .portfolio-nav-img {
    max-width: 354px;
  }
  .portfolio-card-subtitle {
    max-width: 354px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1170px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.address {
  display: block;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-list {
  margin-top: 20px;
  margin-bottom: 60px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.loin-title,
.subscribe-title {
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #fff;
}

.join-list {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.join-list-item:not(:last-child) {
  margin-right: 10px;
}

.join-list-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list-links:hover {
  background-color: #2094f3;
}

.social-join-svg,
.button-send-svg {
  fill: #fff;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
}

.subscribe-mail {
  padding: 15px;
  display: block;
  margin-right: 12px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}

.subscribe-mail:focus {
  outline: none;
  border: 1px solid #2094f3;
  border-radius: 2px;
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-svg {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translateY(50%);
  margin-right: 28px;
  display: block;
}

.button-send-svg {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-address {
    max-width: 232px;
    width: 100%;
    margin-right: 165px;
  }
  .join {
    max-width: 206px;
    width: 100%;
  }
  .subscribe {
    max-width: 450px;
    width: 100%;
  }
  .footer-tablet-center {
    display: flex;
  }
}

@media screen and (min-width: 1170px) {
  .footer-address {
    margin-right: 70px;
  }
  .footer-tablet-center {
    align-items: baseline;
    max-width: 510px;
    width: 100%;
    margin-right: 90px;
  }
  .subscribe {
    max-width: 570px;
    width: 100%;
  }
  .subscribe-mail {
    max-width: 358px;
    width: 100%;
  }
  .footer-section {
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .subscribe-form {
    display: flex;
  }
}

.portfolio-navigations-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-navigations-item:nth-child(2n + 1) {
  margin-bottom: 15px;
}

.portfolio-navigations-item:nth-child(5) {
  margin-bottom: -15px;
}

.portfolio-navigations-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-navigations-button {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-navigations-button:hover, .portfolio-navigations-button:focus {
  color: #fff;
  background-color: #2094f3;
}
/*# sourceMappingURL=portfolio-main.css.map */