.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  // &-section {}
}

.address {
  display: block;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;

  &-list {
    margin-top: 20px;
    margin-bottom: 60px;

    &-item:not(:last-child) {
      margin-bottom: 8px;
    }

    &-link {
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.loin-title,
.subscribe-title {
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #fff;
}

.join-list {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;

  &-item:not(:last-child) {
    margin-right: 10px;
  }

  &-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $accent-color;
    }
  }
}

.social-join-svg,
.button-send-svg {
  fill: #fff;
}

.subscribe {
  &-title {
    display: block;
    margin-bottom: 20px;
  }
  &-mail {
    padding: 15px;
    display: block;
    margin-right: 12px;
    max-width: 450px;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;

    &:focus {
      outline: none;
      border: 1px solid $accent-color;
      border-radius: 2px;
    }
  }
  &-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;

    min-width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-svg {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateY(50%);
    margin-right: 28px;
    display: block;
  }
}
.button-send-svg {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-address {
    max-width: 232px;
    width: 100%;
    margin-right: 165px;
  }

  .join {
    max-width: 206px;
    width: 100%;
  }

  .subscribe {
    max-width: 450px;
    width: 100%;
  }

  .footer-tablet-center {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
  .footer-tablet-center {
    align-items: baseline;
    max-width: 510px;
    width: 100%;
    margin-right: 90px;
  }
  .subscribe {
    max-width: 570px;
    width: 100%;
  }

  .subscribe-mail {
    max-width: 358px;
    width: 100%;
  }

  .footer-section {
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .subscribe-form {
    display: flex;
  }
}
// =================Start==================
// .footer {
//   background: #2f303a;

//   &-section {
//     display: flex;
//     align-items: baseline;
//     padding-top: 60px;
//     padding-bottom: 60px;

//     & .address {
//       width: 230px;
//     }
//   }
// }

// .address {
//   display: block;
//   font-weight: 400;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
//   color: #ffffff;

//   &-list {
//     margin-top: 20px;
//     margin-right: 70px;

//     &-item:not(:last-child) {
//       margin-bottom: 9px;
//     }

//     &-link {
//       font-weight: 400;
//       font-style: normal;
//       font-size: 14px;
//       line-height: 1.714;
//       letter-spacing: 0.03em;
//       color: rgba(255, 255, 255, 0.6);

//     }
//   }
// }

// .loin-title,
// .subscribe-title {
//   font-style: normal;
//   text-transform: uppercase;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.03em;
//   color: #fff;
// }

// .join-list {
//   margin-top: 20px;
//   display: flex;
//   justify-content: space-between;

//   &-links {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 44px;
//     width: 44px;
//     background-color: rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
//     margin-right: 10px;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover {
//       background-color: $accent-color;
//     }
//   }

// }

// .social-join-svg {
//   fill: #fff;
// }

// .subscribe {
//   width: 100%;
//   margin-left: 80px;

//   &-title {
//     display: block;
//     margin-bottom: 20px;
//   }
//   &-mail {
//     padding: 15px;
//     display: inline-block;
//     margin-right: 12px;
//     width: 358px;
//     height: 50px;
//     color: #fff;
//     background-color: rgba(0, 0, 0, 0);
//     border: 1px solid rgba(255, 255, 255, 0.3);

//     &:focus {
//       outline: none;
//       border: 1px solid $accent-color;
//       border-radius: 2px;
//     }
//   }
//   &-btn {
//     position: relative;
//     display: inline-block;
//     font-family: $main-font;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.875;
//     color: #ffffff;
//     padding: 10px 62px 10px 32px;
//     cursor: pointer;
//     border: none;
//     outline: none;

//     min-width: 200px;
//     height: 50px;
//     background: #2196f3;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   &-svg {
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     transform: translateY(50%);
//     margin-right: 28px;
//     display: block;
//   }
// }
