.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-img.jpg');

  background-color: #c4c4c4;

  &-section {
    text-align: center;
    padding-top: 200px;
    padding-left: 235px;
    padding-right: 235px;
    padding-bottom: 280px;
  }
  &-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 696px;
    height: 120px;

    color: #ffffff;
  }
}
