.qualities-list-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: $title-color;
}

.qualities-list-heading::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 70px;
}

.qualities-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: $subtitle-color;
}

.qualities-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .qualities-items:not(:last-child) {
    margin-bottom: 30px;
  }
}

.qualities-list {
  display: flex;
  @media screen and (max-width: 1023px) {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .qualities-items:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .qualities-items:nth-child(-n + 2) {
    margin-bottom: 30px;
  }

  .qualities-items {
    max-width: 354px;
  }
}

@media screen and (min-width: 1024px) {
  .qualities-items {
    max-width: 270px;
  }
  .qualities-items:not(:last-child) {
    margin-right: 30px;
  }
}

.attention::before {
  background-image: url(../images/qualities/satellite.svg);
}

.punctuality::before {
  background-image: url(../images/qualities/clock.svg);
}

.planning::before {
  background-image: url(../images/qualities/diagram.svg);
}

.technologies::before {
  background-image: url(../images/qualities/astronaut.svg);
}
