.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  @media screen and (max-width:1023px){
    margin-bottom: 30px;
  }
  @media screen and (min-width:1024px){
    margin-bottom: 50px;
  }
  

  color: $title-color;
}
