$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$title-color: #212121;
$subtitle-color: #757575;
$accent-color: #2094f3;
$logo-color-light-theme: #000000;
$logo-color-dark-theme: #ffffff;
